language: c
matrix:
  include:
    - os: linux
      sudo: required
      dist: focal
      services:
        - docker
      env:
        - label=dtrace
      before_install: *bi
      script:
        - uname -a
        - make -f misc/docker-ci/check.mk dtrace CONTAINER_NAME=h2oserver/h2o-ci:ubuntu2004-canary
